NEXT_PUBLIC_HOST=http://localhost:3000
DOMAIN=localhost
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/short-message
REDIS_URL=localhost:6379

ACCESS_TOKEN_SECRET="ACCESS_TOKEN_SECRET"
SECRET_TOKEN_SECRET="SECRET_TOKEN_SECRET"
