@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer base {
  html {
    @apply bg-sm-primary;
  }

  input::placeholder {
    text-transform: capitalize;
  }
}

@layer components {
  .btn-default {
    background-color: theme(colors.sm-secondary);
    @apply text-white rounded md:px-6 md:py-1.5
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* @media (prefers-color-scheme: dark) {
  @layer base {
    html {
      @apply bg-sm-dark;
    }
  }
} */
