@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer base {
  html {
    @apply bg-sm-white;
  }

  input::placeholder {
    text-transform: capitalize;
  }

  a {
    color: theme(colors.sm-primary)
  }

}

@layer components {
  .btn-light {
    background-color: theme(colors.sm-primary);
    @apply text-white rounded px-4 md:px-6 py-1.5;
  }

  .input-light:focus {
    outline-color: theme(colors.sm-primary);
    @apply text-black;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* @media (prefers-color-scheme: dark) {
  @layer base {
    html {
      @apply bg-sm-dark;
    }
  }
} */
